footer {
    background-color: rgb(219, 77, 0);
    text-align: center;
    font-size: 0.8rem;
    margin-top: 5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.footer__socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.footer__socials a {
    color: white;
    padding: 0.8rem;
    border-radius: 0.5rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    background: transparent;
    color: white;
    border-color:  rgb(219, 77, 0);
}