.n-container {
    height: 150px;
    padding: 5px 20px;
    background-color: rgb(187, 41, 8);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

.n-email {
    letter-spacing: 1.5px;
}

.n-row:first-child {
    display: flex;
    justify-content: space-between;
}

.n-row:nth-child(2) {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.logo {
    width: 250px;
    height: auto;
}

.socials img {
    width: 25px;
    height: auto;
    margin: 0 5px;
}

.icons span {
    margin: 0 15px;
    text-transform: uppercase;
}

.icons a {
    color: rgb(2, 2, 26);
    font-size: 18px;
}

.icons span .totalItem {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -10px;
    right: -20px;
    background-color: rgb(2, 2, 26);
    color: white;
    width: 20px;
    height: 20px;   
    border-radius: 4px;
}