.container__footer-container {
   /* display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: fixed;
    width: 100%;
    background-color: rgb(225, 90, 0);*/
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(225, 90, 0);
    color: white;
    text-align: center;
}
.container__logo{
    float: left;
}
.footer__title
{
    float: right;
}


.row {
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-left: 50%;
}