.Container-group {
    background-color: rgba(205, 64, 4, 0.90);
    width: 100;
}

.form-group {
    box-sizing: border-box;
    text-align: center;
    height: 800px;
}

.title {
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 45px;
    color: white;
    font-size: 4rem;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.login-form {
    flex-direction: column;
    font-size: 1rem;
    border: 2px solid white;
    background-color: antiquewhite;
    width: 80%;
}

.input-form {
    margin: auto;
}

.input {
    padding: 0;
}

.in-put {
    margin-left: 20px;
    margin-right: 20px;
}

.link {
    margin: 10px;
}

.link-div {
    margin: 10px;
}

.button {
    color: black;
}