.hightlight {
  background-color: #80c0b5;
}

.navbar-style {
  background-color: orange !important;
}

.green-highlight {
  color: lightgray;
  font-size: 40px;
}

.red-highlight {
  color: #ff0000;
  font-size: 25px;
}

.hand-icon {
  cursor: pointer;
}
